h1, h2, h3, p, body {
    margin: 0;
}

body {
    display: flex;
    justify-content: row;
}

.header_link {
    display: flex;
    justify-content: row;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    text-align:start;
    color: black;
}



a:link {
    text-decoration: none;
}

.header_link:hover {
    color: rgb(168, 167, 240);
    margin-left: 35px;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.navigation {
    width: fit-content;
}